workflows/Lead Logging workflow.json
{
  "name": "Lead Logging workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "654b8c77-9586-4920-816d-2036d3e870bb",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f5532482-9342-43ac-be0a-4e7bf349f5d8",
      "name": "Webhook",
      "webhookId": "654b8c77-9586-4920-816d-2036d3e870bb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d71bf17-3d3d-4f3f-87d8-93188120bc36",
              "name": "lead_type",
              "value": "={{ $json.body.email.includes(\"gmail\") ? \"Priority Lead\" : \"Normal Lead\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "69491218-2d01-4896-ad2a-ea1277b47132",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e27u1zQ5YDtmnT7tXAjAaawkDS9XvplCpmdL7Dnf_K8",
          "mode": "list",
          "cachedResultName": "Lead Logging ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e27u1zQ5YDtmnT7tXAjAaawkDS9XvplCpmdL7Dnf_K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e27u1zQ5YDtmnT7tXAjAaawkDS9XvplCpmdL7Dnf_K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json.body.name}}",
            "Email": "={{$json.body.email}}",
            "Lead Type": "={{$json.lead_type}}",
            "Received At": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Type",
              "displayName": "Lead Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Received At",
              "displayName": "Received At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        0
      ],
      "id": "f4db0e87-1891-40ad-a0dd-abe901a6924a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zJxRHGzbkarvHegi",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5a3abe53-7806-4af1-a3e0-2e23a6622419",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e9efb604f557c4b5c58e62376faa1a9121f6a1f767ce3babe9e0a414efcea93"
  },
  "id": "mb59kiUS5VDcGi44",
  "tags": []
}