workflows/Priority Lead Notification Automation.json
{
  "name": "Priority Lead Notification Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ba4c73b0-b2f6-4032-a204-7c6f320cb5f7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d43fbb93-8972-4b0a-8c05-c0576fc55cc3",
      "name": "Webhook",
      "webhookId": "ba4c73b0-b2f6-4032-a204-7c6f320cb5f7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e469ca02-976c-4203-b967-e6eb5293708f",
              "leftValue": "={{$json.lead_type}}",
              "rightValue": "Priority Lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        0
      ],
      "id": "cc9f75da-9579-4113-ad1a-3ed025660ea2",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74998590-a659-48f1-9116-d6f89ac3fb9a",
              "name": "lead_type",
              "value": "={{ $json.body.email.includes(\"gmail\") ? \"Priority Lead\".trim() : \"Normal Lead\".trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "83523617-d665-465b-a9e4-6ed614c761c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "hitaeshi25sehgal@gmail.com",
        "subject": "Priority Lead Received",
        "message": "=New priority lead received  Name: {{$json.body.name}} Email: {{$json.body.email}} Lead Type: {{$json.lead_type}} Received At: {{$now}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        -16
      ],
      "id": "b2c1b4eb-25e2-415f-920f-3c95990c2d34",
      "name": "Send a message",
      "webhookId": "97673ed7-28be-4a33-9cb4-786a6af26bff",
      "credentials": {
        "gmailOAuth2": {
          "id": "U1t9h9VSULAvAATM",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "33357454-f7a9-4b58-9deb-0432034841c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e9efb604f557c4b5c58e62376faa1a9121f6a1f767ce3babe9e0a414efcea93"
  },
  "id": "5nAn6FVHtnBS6KF3",
  "tags": []
}